#Logo {
    width:120px;
    border-radius: 80px;
    padding: 0;
}

/*
.navbar-expand-sm {
    justify-content:;
}
*/

.navbar-nav{
    margin-left:auto;
}
.navbar-custom {
    background-color: #96072F;
}

.navbar-custom .navbar-dark {
    color: whitesmoke;
}
@import url('https://fonts.googleapis.com/css?family=Urbanist');
body{
    font-family: "Urbanist",sans-serif;
}

.nav-item {
    font-size: 1.2em;
    font-family: "Urbanist", sans-serif;
}

h1{
    font-size: 5rem;
}

/*Parallax effect*/

#parallax {
    background: url("/images/pexels-andrea-piacquadio-3760069.jpg");
    background-attachment: fixed;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom:200px; padding-top: 50px;
    z-index: 3;
}

.wtitle{
    color: whitesmoke;
    position: center;
    background-color: rgba(70, 70, 70, 0.7);
    margin-left:20%;
    margin-right:20%;
    border-radius: 10px;
    -webkit-transform: translateZ(999px) scale(.7);
    transform: translateZ(999px) scale(.7);
    z-index: 1;
}

#parallaxContainer {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    z-index: 4;
}